
obj/stationeers-PlantsnNutritionRebalance.csproj.nuget.g.targets
obj/stationeers-PlantsnNutritionRebalance.csproj.nuget.g.props
obj/stationeers-PlantsnNutritionRebalance.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.pdb
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.dll
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.csproj.CopyComplete
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.csproj.AssemblyReference.cache
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.assets.cache
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.AssemblyInfo.cs
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
externals/UnityEngine.PhysicsModule.dll
externals/UnityEngine.dll
externals/UnityEngine.CoreModule.dll
externals/HarmonyXInterop.dll
externals/com.unity.multiplayer-hlapi.Runtime.dll
externals/BepInEx.Harmony.dll
externals/BepInEx.dll
externals/Assembly-CSharp.dll
externals/0Harmony.dll
bin/Debug/netstandard2.0/UnityEngine.PhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.dll
bin/Debug/netstandard2.0/UnityEngine.CoreModule.dll
bin/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.pdb
bin/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.dll
bin/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.deps.json
bin/Debug/netstandard2.0/com.unity.multiplayer-hlapi.Runtime.dll
bin/Debug/netstandard2.0/BepInEx.Harmony.dll
bin/Debug/netstandard2.0/BepInEx.dll
bin/Debug/netstandard2.0/Assembly-CSharp.dll
bin/Debug/netstandard2.0/0Harmony.dll
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Stationeers-PlantsnNutritionRebalance-BepInEx/v16/.suo
obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Release/netstandard2.0/stationeers-PlantsnNutritionRebalance.AssemblyInfo.cs
obj/Release/netstandard2.0/stationeers-PlantsnNutritionRebalance.AssemblyInfoInputs.cache
obj/Release/netstandard2.0/stationeers-PlantsnNutritionRebalance.assets.cache
*.dll
*.zip
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.GeneratedMSBuildEditorConfig.editorconfig
.vs/ProjectEvaluation/stationeers-plantsnnutritionrebalance.metadata.v6.1
.vs/ProjectEvaluation/stationeers-plantsnnutritionrebalance.projects.v6.1
.vs/stationeers-PlantsnNutritionRebalance/DesignTimeBuild/.dtbcache.v2
.vs/stationeers-PlantsnNutritionRebalance/FileContentIndex/0394e895-6e22-4e2f-bb58-79d5292aa5c0.vsidx
.vs/stationeers-PlantsnNutritionRebalance/FileContentIndex/af028c38-1ee6-4104-9456-5303968d685d.vsidx
.vs/stationeers-PlantsnNutritionRebalance/FileContentIndex/read.lock
.vs/stationeers-PlantsnNutritionRebalance/FileContentIndex/1e41d5f3-7ef0-4fde-9ec7-41df2b362243.vsidx
.vs/stationeers-PlantsnNutritionRebalance/FileContentIndex/513c235a-6d8a-4358-b650-489a2a8055d0.vsidx
*.vsidx
*.v2
.vs/stationeers-PlantsnNutritionRebalance/v17/.suo
bin/Debug/netstandard2.0/0Harmony.xml
bin/Debug/netstandard2.0/BepInEx.Harmony.xml
bin/Debug/netstandard2.0/MonoMod.Utils.xml
bin/Debug/netstandard2.0/MonoMod.RuntimeDetour.xml
bin/Debug/netstandard2.0/BepInEx.xml
Properties/launchSettings.json
