
obj/stationeers-PlantsnNutritionRebalance.csproj.nuget.g.targets
obj/stationeers-PlantsnNutritionRebalance.csproj.nuget.g.props
obj/stationeers-PlantsnNutritionRebalance.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.pdb
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.dll
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.csproj.CopyComplete
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.csproj.AssemblyReference.cache
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.assets.cache
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.AssemblyInfo.cs
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
externals/UnityEngine.PhysicsModule.dll
externals/UnityEngine.dll
externals/UnityEngine.CoreModule.dll
externals/HarmonyXInterop.dll
externals/com.unity.multiplayer-hlapi.Runtime.dll
externals/BepInEx.Harmony.dll
externals/BepInEx.dll
externals/Assembly-CSharp.dll
externals/0Harmony.dll
bin/Debug/netstandard2.0/UnityEngine.PhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.dll
bin/Debug/netstandard2.0/UnityEngine.CoreModule.dll
bin/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.pdb
bin/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.dll
bin/Debug/netstandard2.0/stationeers-PlantsnNutritionRebalance.deps.json
bin/Debug/netstandard2.0/com.unity.multiplayer-hlapi.Runtime.dll
bin/Debug/netstandard2.0/BepInEx.Harmony.dll
bin/Debug/netstandard2.0/BepInEx.dll
bin/Debug/netstandard2.0/Assembly-CSharp.dll
bin/Debug/netstandard2.0/0Harmony.dll
